This is a retrospective data analysis of our ESPN Fantasy Football league from the 2019-2022 seasons, asking questions about best waiver player.

I used the [Pro Football Reference](https://www.pro-football-reference.com/years/2022/games.htm) for NFL schedules and [Christian Wendt's ESPN Fantasy Football API](https://github.com/cwendt94/espn-api) to extract ESPN league-specific data.

See [espnff_analysis](https://github.com/jon-cheng/espnff) source code.

In [5]:
import os
import pandas as pd
import espnff_analysis.pipeline as pp

## Enter league credentials

In [6]:
year=2022
path = r'/Users/jonathancheng/PycharmProjects/espnff/results'
league_id = 1094090
swid = "{F191FB8C-DB2D-4D24-91FB-8CDB2DED249D}"
espn_s2 ='AECJMQHsUHB0FTXdZkw93uY7GRbX8BPnm93Ye6AwvwrMsrZFGg1Lbmi07SWVov2ioN8zGMFDzZiiDSeQCa7WQHaGivGnMfGWLjmfGwkOeLXb5baD1sltp%2B%2BIfHAtl98TpmHgB16ZpGn6g3Bm5vLEA7yDC6HkbD3LSp0E2rGB7hKziLMvZ7mT6ONJFRe8Xp3ApYWSvxPr9cz0pJiI%2FF0blsZ8hyATDJMEyaQ2O%2FypcsViORr6hqYTmXHPuPKnMBfvYC8LQqi1exGw3vnyg6ptsB2Y'

## Run espnff_analysis package

In [13]:
for year in list(range(2019,2023,1)):
    pp.main_pipeline(league_id, year, espn_s2, swid, path)

Fetching league data from espn_api ...
Fetching league data from espn_api ...
Fetching league data from espn_api ...
Fetching league data from espn_api ...

## Best waiver player

We wanted to find the best waiver (un-drafted) player from past seasons in order to give the award for Best Waiver Player of the Year.

Assumptions and methods:
- Only QB, RB, WR, TE are eligible
- Player must not have been drafted 
- Since we are comparing across different positions, we need to normalize scoring across positions. For example, in our scoring system, QBs vastly outscore other positions, so that bias must be normalized against. A better metric of value of a given player is how the fantasy player compares against his position. 
- One normalization method is z-score, which is mean and standard deviation-dependent. However, z-scores don't work well with non-normal distributions. Here, we've found the scoring data to be skewed.
- A better choice for normalization is quantile, which is agnostic to the underlying distribution.
- We calculated the quantile of fantasy scoring of the given player versus his position for the given weeks that he was on a particular fantasy team. The accounting for "stint" on a given fantasy team then gives an idea of the return-on-investment for a given fantasy team / fantasy player pairing.
- Note that non-continuous stints for the fantasy team / player pairings are merged.

In [7]:
years_of_interest = list(range(2019,2023,1))[::-1]

In [14]:
for year in years_of_interest:
    df = pd.read_csv(os.path.join(path,f"df_waiver_{year}.csv"),index_col=0)
    df.index = df.index + 1
    display(df.head().style.set_caption(f"{year}"))